.background{
    background-image: url('/Pictures/pngtree-and-cool-colors-warm-color-image_16701534.jpg'); /* Path to your image */
  background-repeat: no-repeat;
  background-size:cover;
}
.backgroundBox{
    width: 4050px; 
    height: 15000px; 
    left: 0%;
    Top: -5%;
    
    background-color: rgb(104, 104, 104); /* Sets the background color */
    padding: 20px; /* Adds space between the content and the border */
    margin: 30px auto; /* Adds space outside the border and centers the box horizontally */
    box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
}
.titleBoxST {
    width: 450px; /* Sets the width of the box */
    height: 150px; /* Sets the height of the box */
    left: 30%;
    background-color: rgb(104, 104, 104); /* Sets the background color */
    padding: 20px; /* Adds space between the content and the border */
     /* Adds space outside the border and centers the box horizontally */
     /* Ensures padding and border are included in the total width/height */
}
.GrayColor{
  color: rgb(90, 90, 90);
}